* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffd6a7;
  background: linear-gradient(132deg, #ffd6a7 0%, #dd87ff 40%, #ff9966 73%);
  background-repeat: no-repeat;
  font-family: "M PLUS 1 Code", sans-serif;
}

.header {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.container {
  text-align: center;
  background-color: #f7f7f7;
  padding: 4rem;
  border-radius: 15px;
  max-width: 80%;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), 0 0 0 currentColor, 0 50px 100px -20px rgba(50, 50, 93, 0.25);
}

.user-input {
  border-radius: 50px;
  padding: 1rem;
  margin: 1rem;
  font-family: "M PLUS 1 Code", sans-serif;
  font-size: 1.3rem;
}

p {
  font-size: 1.4rem;
  padding: 1rem;
}

.btn {
  margin: 0 auto 1rem auto;
  display: block;
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
  border-radius: 25px;
  font-family: "M PLUS 1 Code", sans-serif;
}