.container {
  text-align: center;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), 0 0 0 currentColor, 0 50px 100px -20px rgba(50, 50, 93, 0.25);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
} ;
